<html ng-app="elasticpipeApp">
<head>
  <link rel="stylesheet" href="lib/leaflet.css" />
  <style>
    .bar {
      fill: #98df8a;
    }

    .movingAvg {
      stroke: #ff7f0e;
      stroke-width: 2;
      fill: none;
    }

    .selectedBar {
      fill: #2ca02c;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
  </style>
</head>

<body ng-controller="MapController" style="margin: 30px 15px 15px 10px;">
  <div>{{appStatus}}</div>
  <input type="text" name="geohash" placeholder="Elastic Cluster ip:port"
    ng-model="elastichome"
    ng-change="loadIndices()"
    ng-model-options='{ debounce: 1000 }'>

  <select 
    ng-show="indices.length" 
    ng-model="selectedIndex" 
    ng-options="it for it in indices"
    ng-change="loadFields()">
  </select>

  <div style="float: right;">
    <input type="number" placeholder="lat" ng-model="lat">
    <input type="number" placeholder="lon" ng-model="lon">
    <input type="number" placeholder="zoom" ng-model="zoom">
    <button ng-click="setView()">Set Map View</button>
  </div>

  <div ng-show="geoPointFields.length">
    <label for="geopoint">geo_point field</label>
    <select 
      name="geopoint"
      ng-model="selectedGeoPointField" 
      ng-options="it for it in geoPointFields">
    </select>
  </div>
  <div ng-show="dateFields.length">
    <label for="datefield">date field</label>
    <select 
      name="datefield"
      ng-model="selectedDateField" 
      ng-options="it for it in dateFields">
    </select>
    <input type="text" placeholder="start" ng-model="start" style="width: 150px;">
    <input type="text" placeholder="stop" ng-model="stop" style="width: 150px;">
  </div>

  <div>
    <button ng-click="load()">Load Data</button>
  </div>

  <div id="timeline" style="height: 125px; width: 100%;"></div>
  <div id="activityMap" style="height: 500px; width: 49.5%; float: left;"></div>
  <div id="normalizedMap" style="height: 500px; width: 49.5%;"></div>

  <script src="lib/latlon-geohash.js"></script>
  <script src="lib/angular.js"></script>
  <!--<script>L_PREFER_CANVAS = true;</script>-->
  <script src="lib/leaflet.js"></script>
  <script src="lib/L.Map.Sync.js"></script>
  <script src="lib/d3.js" charset="utf-8"></script>
  <script src="map.js"></script>
  <script src="timeline.js"></script>
  <script src="app.js"></script>
</body>
</html>